# Global
.DS_Store
Thumbs.db
*.log

# Android / Gradle
application/.gradle/
application/build/
application/**/build/
application/local.properties
application/.idea/
application/captures/
application/app/release/
application/app/debug/

# Kotlin / IDE
*.iml
/.idea/

